<table class="table table-hover " id="table">
    <thead>
    <tr>
        <th scope="col">Id osiguranika</th>
        <th scope="col">Ime osiguranika</th>
        <th scope="col">Prezime osiguranika</th>
        <th scope="col">Datum rodjenja osigurnaika</th>
        <th scope="col">Broj pasosa osiguranika</th>
        <th scope="col">Telefon osiguranika</th>
        <th scope="col">Email osiguranika</th>
        <th scope="col">Datum putovanja osiguranika od</th>
        <th scope="col">Datum putovanja osiguranika do</th>
        <th scope="col">Broj dana polise</th>
        <th scope="col">Nacin putovanja osiguranika</th>
        <th scope="col">Datum unosa polise</th>
    </tr>
    </thead>

    <tbody id="tbody">
    <tr>
        <td style="align-items: start">{{osiguranik.id}}</td>
        <td style="align-items: center">{{osiguranik.imeOsiguranika}}</td>
        <td style="align-self: center;" class="edit">{{osiguranik.prezimeOsiguranika}}</td>
        <td style="align-items: start">{{konvertujUDatum(osiguranik.datumRodjenjaOsiguranika)}}</td>
        <td style="align-items: center">{{osiguranik.brojPasosaOsiguranika}}</td>
        <td style="align-self: center;" class="edit">{{osiguranik.telefonOsiguranika}}</td>
        <td style="align-items: start">{{osiguranik.imejlOsiguranika}}</td>
        <td style="align-items: center">{{konvertujUDatum(osiguranik.datumPutovanjaOsiguranikaOd)}}</td>
        <td style="align-self: center;" class="edit">{{konvertujUDatum(osiguranik.datumPutovanjaOsiguranikaDo)}}</td>
        <td style="align-items: center">{{osiguranik.razlikaUDanima}}</td>
        <td style="align-items: center">{{osiguranik.nacinPutovanjaOsiguranika}}</td>
        <td style="align-items: center">{{konvertujUDatum(osiguranik.datumUnosaPolise)}}</td>
    </tr>
    </tbody>
</table>

<br>
<br>

<table class="table table-hover " id="table1" *ngIf="osiguranik.nacinPutovanjaOsiguranika == 'Grupno'">
    <thead>
    <tr>
        <th scope="col">Id osiguranika</th>
        <th scope="col">Ime pomocnog osiguranika</th>
        <th scope="col">Prezime pomocnog osiguranika</th>
        <th scope="col">Datum rodjenja pomocnog osigurnaika</th>
        <th scope="col">Broj pasosa pomocnog osiguranika</th>
    </tr>
    </thead>

    <tbody id="tbody1">
    <tr *ngFor="let pomocniOsiguranik of nizPomocnihOsiguranika">
        <td style="align-items: start">{{pomocniOsiguranik.id}}</td>
        <td style="align-items: center">{{pomocniOsiguranik.imePomocnogOsiguranika}}</td>
        <td style="align-self: center;" class="edit">{{pomocniOsiguranik.prezimePomocnogOsiguranika}}</td>
        <td style="align-items: start">{{konvertujUDatum(pomocniOsiguranik.datumRodjenjaPomocnogOsiguranika)}}</td>
        <td style="align-self: center;" class="edit">{{pomocniOsiguranik.brojPasosaPomocnogOsiguranika}}</td>
    </tr>
    </tbody>
</table>

